<header>
    <mat-form-field>
        <mat-label>Couleur</mat-label>
        <input matInput type="color" name="currentColor" />
    </mat-form-field>
    <mat-checkbox name="completed"></mat-checkbox>
    <form>
        <mat-form-field>
            <mat-label>Label</mat-label>
            <input matInput type="text" name="newLabel" />
        </mat-form-field>
    </form>
</header>

<section class="items-list">
    <!-- Liste des items ici -->
</section>

<!-- Afficher le footer seulement si la liste d'items n'est pas vide -->
<footer>
    <label>XXX items non cochés</label>
    
    <!-- Ajouter le composant filtre -->
</footer>

